<h2>This is a contact importing tool</h2>
<p>Here you can import contacts with name, birthdate, phone number, address, credit card info and email contained inside a CSV file</p>

<% unless user_signed_in? %>
  <%= link_to 'Log in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
<% else %>
  <%= link_to 'Import CSV', new_contact_path %>
  import csv file
  <%= link_to 'Log out',  destroy_user_session_path, method: :delete, class: "nav-link" %>

<% end %>